.container {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/album_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.titleContainer {*/
/*    background-image: url('../../assets/images/album_title.png');*/
/*    width: 80%;*/
/*    height: 30%;*/
/*    background-color: red;*/
/*    position: absolute;*/
/*    top: 3%;*/
/*    left: 1%;*/
/*}*/

.albumTitleImg {
    position: absolute;
    top: 4%;
    left: 23%;
    /*cursor: pointer;*/
    width: 330px;
    height: 80px;
    z-index: 100;
}

.arrowBtn {
    position: absolute;
    top: 2.8%;
    left: 1%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 100;
}

/*.titleContainer {*/
/*    display: ;*/
/*}*/

.albumTitleText {
    font-size: 34px;
    position: absolute;
    top: 7.9%;
    left: 25%;
    z-index: 100;
    /*background-color: red;*/
    width: 310px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.backArrow {
    width: 80px;
    cursor: pointer;
}

.arrowBtn:hover {
    transform: scale(1.13); /* 크기 1.2배로 조정 */
}

.backArrow:hover {
    transform: scale(1.13); /* 크기 1.2배로 조정 */
}

.album {
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/images/album.png');
    transform: scale(1.05);
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    /*background-color: black;*/
    width: 90%;
    height: 50%;
    padding: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    /*background-color: red;*/
}

