.container {
    width: 100%;
    height: 100%; /* Ensure the container takes up the full viewport height */
    background-image: url('../../assets/images/album_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album {
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/images/album.png');
    transform: scale(1.05);
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    /*background-color: black;*/
    width: 80%;
    height: 50%;
    padding: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

