.container {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/home_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.logo {
    width: 250px;
}

.button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 90px;
    height: 90px;
    background-image: url('../../assets/images/treasure_btn_close.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.button:hover {
    background-image: url('../../assets/images/treasure_btn_open.png');
}

/* 포인터 ============> */
.pointerContainer {
    overflow: hidden;
    width: 100%;
    height: 50%;
}

.pointerContainer button {
    background-color: transparent;
    border: none;
}

.pointerText {
    color: #FAE10C;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    visibility: hidden; /* 기본적으로 숨김 */
    opacity: 0;
}



.pointer1 {
    width: 50px;
    height: 50px;

    /*transform: translate(-20%, -45%);*/
}

.pointerGroup1 {
    width: 80px;
    height: 50px;
    position: absolute;
    top: 43%;
    right: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pointer2 {
    width: 50px;
    height: 50px;

    /*transform: translate(-20%, -45%);*/
}

.pointerGroup2 {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.pointer3 {
    width: 50px;
    height: 50px;
}

.pointerGroup3 {
    width: 80px;
    height: 50px;
    position: absolute;
    top: 36%;
    left: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pointer4 {
    width: 50px;
    height: 50px;
}

.pointerGroup4 {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 48%;
    left: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pointerCloud {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 29%;
    left: 18%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pointerCloud span  {
    margin-left: 3px;
}


.pointerTextCloud {
    color: #00A0FF;
    font-weight: bold;
    text-shadow: 2px 2px 4px white;
    visibility: hidden; /* 기본적으로 숨김 */
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;

}


.pointerCloud {
    width: 85px;
    height: 85px;
}



/*top 원래 그룹에서 -2*/
.pointerGroup1:hover  {
    top: 41%;
}

.pointerGroup2:hover {
    top: 48%;
}

.pointerGroup3:hover {
    top: 34%;
}

.pointerGroup4:hover {
    top: 46%;
}

.pointerCloud:hover {
    top: 27%;
}


.pointerCloud:hover .pointerTextCloud {
    visibility: visible; /* 호버 시 보임 */
    opacity: 1;
}

.pointerGroup1:hover .pointerText {
    visibility: visible; /* 호버 시 보임 */
    opacity: 1;
}


.pointerGroup2:hover .pointerText {
    visibility: visible; /* 호버 시 보임 */
    opacity: 1;
}

.pointerGroup3:hover .pointerText {
    visibility: visible; /* 호버 시 보임 */
    opacity: 1;
}

.pointerGroup4:hover .pointerText {
    visibility: visible; /* 호버 시 보임 */
    opacity: 1;
}


/*비디오 =========>*/
.videoContainer {
    position: absolute;
    top: 20%;
    left: 2.5%;
    width: 590px;
    height: 340px;
    overflow: hidden;
    border-width: 0 10px 15px 0;
    border-style: solid;
    border-color: black;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C5CCCE;
    padding: 20px;

}

.video {
    width: 580px;
    height: 300px;
    object-fit: cover; /* Ensures the video covers the entire container without distortion */
}
