/*.container {*/
/*    !*width: 100%;*!*/
/*    height: 100%;*/
/*    !*background-color: red;*!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/

.albumItem {
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*background-color: red;*/
    align-items: center;
    /*margin-right: 20px;*/
    margin-top: 8px;
    /*position: absolute;*/
    /*top: 10%;*/
}

.imageContainer {
    /*position: absolute;*/
    /*top: 10%;*/
    height: auto;
    /*padding: 10px;*/
    /*height: 60%;*/
    width: 200px;

    /*height: %;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-left: 17px;*/
    background-color: #F3E9D9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /*padding: 10px 5px 30px 5px;*/
    /*margin: 5px 5px 20px 5px;*/
}

.postImg {
    background-color: black;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*.polaroid {*/
/*    width: 100%;*/
/*    height: 140%;*/
/*    background-color: red;*/
/*    margin: 30px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.image {
    height: 95px;
    width: auto;
    display: block;
    /*margin: 0 auto;*/
    /*background-color: blue;*/
}

.title {
    font-size: 18px;
    margin-top: 4px;
}

.infoContainer {
    /*padding-left: 10px;*/
    width: 70%;
    color: black;
    margin-top: 10px;
    font-size: 14px;
    height: 100%;

}

.infoItem {
    margin-bottom: 5px;

}

.content {
    /*margin-top: 10px;*/
    margin-bottom: 70px;

}
